* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.product-img {
  float: left;
  margin-right: 40px;
}

/* PRODUCT */
.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

.product-title {
  background-color: #f7f7f7;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
}

/* PRODUCT INFORMATION */
.product-info {
  /* (825 - 8(border*2) - 250(img) - 80(margin*2)) / 2 */
  width: 243px;
  float: left;
  margin-right: 40px;
  margin-top: 20px;
}

.price {
  font-size: 24px;
  float: left;
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  margin-bottom: 20px;
  float: right;
  margin-top: 8px;
}

.sale {
  content: "SALE";
  background-color: #ec2f2f;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 7px 15px;
  display: inline-block;
  /* width: 40px;
  text-align: center; */
  position: absolute;
  top: -17px;
  left: -38px;
}

.product-description {
  clear: both;
  margin-bottom: 30px;
}

.more-info:link,
.more-info:visited {
  color: black;
  display: inline-block;
  margin-bottom: 30px;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.color {
  background-color: black;
  height: 22px;
  width: 22px;
  display: inline-block;
  margin-right: 10px;
}

.color-blue {
  background-color: #2f6ee2;
}

.color-red {
  background-color: #ec2f2f;
}

.color-yellow {
  background-color: #f0bf1e;
}

.color-green {
  background-color: #90cc20;
}

.color-brown {
  background-color: #885214;
}

/* PRODUCT DETAILS */

.product-details {
  width: 243px;
  float: left;
  margin-top: 20px;
}

.details-title {
  font-size: 16px;
  text-transform: uppercase;
  /* margin-top: 30px; */
  margin-bottom: 15px;
}

.details-list {
  list-style-type: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

/* BUTTON */
.add-cart {
  background-color: black;
  border: none;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  padding: 15px 0;
  border-top: 4px solid black;
}

.add-cart:hover {
  background-color: white;
  color: black;
}
