@font-face {
  font-family: "abster";
  src: url("../font/abster-webfont.woff") format("woff"),
    url("../font/abster-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../images/room.jpg);
}

.container > header {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container header h1 a {
  text-decoration: none;
  color: white;
  font-family: abster;
}

.container nav ul li {
  display: inline-block;
  margin: 0 10px;
}

.container nav ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.1s;
}

.container nav ul li a:hover {
  color: lightseagreen;
}

.container .hero {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .hero h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.container .hero p {
  font-size: 1rem;
}

.container .hero button {
  background: none;
  border: 2px solid darkseagreen;
  color: white;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 30px;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
}

.container .hero button:hover {
  background-color: darkslategray;
}
