<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link type="text/css" href="css/styles.css" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <div>
    <input type="text" name="username" placeholder="   소환사 명, 소환사 명, ..." id ="searchUser">
    <input type="submit" value=".GG" class='searchBtn'>
  </div>
</head>
<body>
  <div class="logo">
      <a href="#"><img src="https://opgg-static.akamaized.net/logo/20210717025919.c71d1c8b76704b41ad64462ac4e7ef5c.png" width=440 height=160 ></a>
  </div>
  <div class="position">
      <h1 style="color: white;">TOP</h1>
      <ul>
        <!-- 티어별 탑 챔프 1,2,3 순서로-->
        <li><a href="https://www.op.gg/champion/camille/statistics/top/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/Camille.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier1"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-1.png">
          <p>카밀</p></a></li>
        <li><a href="https://www.op.gg/champion/fiora/statistics/top/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/Fiora.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier1"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-1.png">
          <p>피오라</p></a></li>
        <li><a href="https://www.op.gg/champion/tahmkench/statistics/top/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/TahmKench.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier1"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-1.png">
          <p>탐켄치</p></a></li>
        <li><a href="https://www.op.gg/champion/sett/statistics/top/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/Sett.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier1"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-1.png">
          <p>세트</p></a></li>
        <li><a href="https://www.op.gg/champion/irelia/statistics/top/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/Irelia.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier1"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-1.png">
          <p>이렐리아</p></a></li>

        <li><a href="https://www.op.gg/champion/aatrox/statistics/top/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/Aatrox.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier2"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-2.png">
          <p>아트록스</p></a></li>
        <li><a href="https://www.op.gg/champion/monkeyking/statistics/top/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/MonkeyKing.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier2"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-2.png">
          <p>오공</p></a></li>
        <li><a href="https://www.op.gg/champion/jax/statistics/top/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/Jax.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier2"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-2.png">
          <p>잭스</p></a></li>
        <li><a href="https://www.op.gg/champion/sylas/statistics/top/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/Sylas.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier2"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-2.png">
          <p>사일러스</p></a></li>
        <li><a href="https://www.op.gg/champion/jayce/statistics/top/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/Jayce.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier2"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-2.png">
          <p>제이스</p></a></li>

        <li><a href="https://www.op.gg/champion/gnar/statistics/top/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/Gnar.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier3"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-3.png">
          <p>나르</p></a></li>
        <li><a href="https://www.op.gg/champion/kled/statistics/top/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/Kled.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier3"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-3.png">
          <p>클레드</p></a></li>
        <li><a href="https://www.op.gg/champion/garen/statistics/top/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/Garen.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier3"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-3.png">
          <p>가렌</p></a></li>
        <li><a href="https://www.op.gg/champion/gwen/statistics/top/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/Gwen.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier3"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-3.png">
          <p>그웬</p></a></li>
        <li><a href="https://www.op.gg/champion/poppy/statistics/top/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/Poppy.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier3"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-3.png">
          <p>뽀삐</p></a></li>
      </ul>
  </div>
  <div class="position">
    <h1 style="color: white;">JUNGLE</h1>
    <ul>
      <!-- 티어별 정글 챔프 1,2,3 순서로-->
      <li><a href="https://www.op.gg/champion/leesin/statistics/jungle/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/LeeSin.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier1"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-1.png">
        <p>리 신</p></a></li>
      <li><a href="https://www.op.gg/champion/xinzhao/statistics/jungle/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/XinZhao.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier1"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-1.png">
        <p>신짜오</p></a></li>
      <li><a href="https://www.op.gg/champion/viego/statistics/jungle/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/Viego.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier1"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-1.png">
        <p>비에고</p></a></li>
      <li><a href="https://www.op.gg/champion/elise/statistics/jungle/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/Elise.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier1"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-1.png">
        <p>엘리스</p></a></li>

      <li><a href="https://www.op.gg/champion/nidalee/statistics/jungle/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/Nidalee.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier2"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-2.png">
        <p>니달리</p></a></li>
      <li><a href="https://www.op.gg/champion/kindred/statistics/jungle/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/Kindred.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier2"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-2.png">
        <p>킨드레드</p></a></li>
      <li><a href="https://www.op.gg/champion/diana/statistics/jungle/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/Diana.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier2"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-2.png">
        <p>다이애나</p></a></li>
      <li><a href="https://www.op.gg/champion/karthus/statistics/jungle/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/Karthus.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier2"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-2.png">
        <p>카서스</p></a></li>
      <li><a href="https://www.op.gg/champion/nocturne/statistics/jungle/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/Nocturne.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier2"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-2.png">
        <p>녹턴</p></a></li>
      <li><a href="https://www.op.gg/champion/graves/statistics/jungle/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/Graves.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier2"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-2.png">
        <p>그레이브즈</p></a></li>

      <li><a href="https://www.op.gg/champion/khazix/statistics/jungle/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/Khazix.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier3"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-3.png">
        <p>카직스</p></a></li>
      <li><a href="https://www.op.gg/champion/shaco/statistics/jungle/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/shaco.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier3"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-3.png">
        <p>샤코</p></a></li>
      <li><a href="https://www.op.gg/champion/zac/statistics/jungle/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/zac.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier3"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-3.png">
        <p>자크</p></a></li>
      <li><a href="https://www.op.gg/champion/ekko/statistics/jungle/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/ekko.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier3"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-3.png">
        <p>에코</p></a></li>
      <li><a href="https://www.op.gg/champion/ivern/statistics/jungle/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/ivern.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier3"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-3.png">
        <p>아이번</p></a></li>


    </ul>
  </div>
  <div class="position">
    <h1 style="color: white;">MID</h1>
    <ul>
      <!-- 티어별 미드 챔프 1,2,3 순서로-->
      <li><a href="https://www.op.gg/champion/talon/statistics/mid/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/Talon.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier1"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-1.png">
        <p>탈론</p></a></li>
      <li><a href="https://www.op.gg/champion/leblanc/statistics/mid/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/leblanc.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier1"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-1.png">
        <p>르블랑</p></a></li>
      <li><a href="https://www.op.gg/champion/katarina/statistics/mid/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/katarina.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier1"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-1.png">
        <p>카타리나</p></a></li>
      <li><a href="https://www.op.gg/champion/zed/statistics/mid/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/zed.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier1"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-1.png">
        <p>제드</p></a></li>
      <li><a href="https://www.op.gg/champion/yasuo/statistics/mid/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/yasuo.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier1"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-1.png">
        <p>야스오</p></a></li>

      <li><a href="https://www.op.gg/champion/anivia/statistics/mid/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/anivia.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier2"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-2.png">
        <p>애니비아</p></a></li>
      <li><a href="https://www.op.gg/champion/ahri/statistics/mid/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/ahri.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier2"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-2.png">
        <p>아리</p></a></li>
      <li><a href="https://www.op.gg/champion/qiyana/statistics/mid/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/qiyana.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier2"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-2.png">
        <p>키아나</p></a></li>
      <li><a href="https://www.op.gg/champion/yone/statistics/mid/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/yone.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier2"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-2.png">
        <p>요네</p></a></li>
      <li><a href="https://www.op.gg/champion/pantheon/statistics/mid/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/pantheon.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier2"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-2.png">
        <p>판테온</p></a></li>
      <li><a href="https://www.op.gg/champion/galio/statistics/mid/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/galio.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier2"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-2.png">
        <p>갈리오</p></a></li>

      <li><a href="https://www.op.gg/champion/twistedfate/statistics/mid/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/twistedfate.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier3"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-3.png">
        <p>트위스티드 페이트</p></a></li>
      <li><a href="https://www.op.gg/champion/zoe/statistics/mid/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/zoe.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier3"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-3.png">
        <p>조이</p></a></li>
      <li><a href="https://www.op.gg/champion/xerath/statistics/mid/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/xerath.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier3"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-3.png">
        <p>제라스</p></a></li>
      <li><a href="https://www.op.gg/champion/viktor/statistics/mid/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/viktor.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier3"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-3.png">
        <p>빅토르</p></a></li>

    </ul>
  </div>
  <div class="position">
    <h1 style="color: white;">AD</h1>
    <ul>
      <!-- 티어별 원딜 챔프 1,2,3 순서로-->
      <li><a href="https://www.op.gg/champion/ziggs/statistics/adc/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/ziggs.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier1"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-1.png">
        <p>직스</p></a></li>
      <li><a href="https://www.op.gg/champion/ezreal/statistics/adc/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/ezreal.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier1"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-1.png">
        <p>이즈리얼</p></a></li>

      <li><a href="https://www.op.gg/champion/vayne/statistics/adc/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/vayne.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier2"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-2.png">
        <p>베인</p></a></li>
      <li><a href="https://www.op.gg/champion/samira/statistics/adc/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/samira.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier2"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-2.png">
        <p>사미라</p></a></li>
      <li><a href="https://www.op.gg/champion/ashe/statistics/adc/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/ashe.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier2"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-2.png">
        <p>애쉬</p></a></li>
      <li><a href="https://www.op.gg/champion/kogmaw/statistics/adc/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/kogmaw.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier2"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-2.png">
        <p>코그모</p></a></li>
      <li><a href="https://www.op.gg/champion/aphelios/statistics/adc/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/aphelios.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier2"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-2.png">
        <p>아펠리오스</p></a></li>
      <li><a href="https://www.op.gg/champion/kaisa/statistics/adc/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/kaisa.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier2"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-2.png">
        <p>카이사</p></a></li>

      <li><a href="https://www.op.gg/champion/jinx/statistics/adc/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/jinx.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier3"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-3.png">
        <p>징크스</p></a></li>
      <li><a href="https://www.op.gg/champion/draven/statistics/adc/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/draven.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier3"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-3.png">
        <p>드레이븐</p></a></li>
      <li><a href="https://www.op.gg/champion/caitlyn/statistics/adc/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/caitlyn.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier3"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-3.png">
        <p>케이틀린</p></a></li>
      <li><a href="https://www.op.gg/champion/jhin/statistics/adc/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/jhin.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier3"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-3.png">
        <p>진</p></a></li>
      <li><a href="https://www.op.gg/champion/swain/statistics/adc/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/swain.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier3"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-3.png">
        <p>스웨인</p></a></li>

      <li><a href="https://www.op.gg/champion/tristana/statistics/adc/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/tristana.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier3"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-4.png">
        <p>트리스타나</p></a></li>      
      <li><a href="https://www.op.gg/champion/varus/statistics/adc/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/varus.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier3"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-4.png">
        <p>바루스</p></a></li>    
      </ul>
  </div>
  <div class="position">
    <h1 style="color: white;">SUPPORT</h1>
    <ul>
      <!-- 티어별 서폿 챔프 1,2,3 순서로-->
      <li><a href="https://www.op.gg/champion/leona/statistics/support/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/leona.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier1"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-1.png">
        <p>레오나</p></a></li>
      <li><a href="https://www.op.gg/champion/thresh/statistics/support/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/thresh.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier1"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-1.png">
        <p>쓰레쉬</p></a></li>
      <li><a href="https://www.op.gg/champion/lulu/statistics/support/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/lulu.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier1"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-1.png">
        <p>룰루</p></a></li>
      <li><a href="https://www.op.gg/champion/blitzcrank/statistics/support/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/blitzcrank.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier1"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-1.png">
        <p>블리츠크랭크</p></a></li>

      <li><a href="https://www.op.gg/champion/senna/statistics/support/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/senna.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier2"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-2.png">
        <p>세나</p></a></li>
      <li><a href="https://www.op.gg/champion/nautilus/statistics/support/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/nautilus.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier2"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-2.png">
        <p>노틸러스</p></a></li>
      <li><a href="https://www.op.gg/champion/maokai/statistics/support/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/maokai.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier2"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-2.png">
        <p>마오카이</p></a></li>
      <li><a href="https://www.op.gg/champion/morgana/statistics/support/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/morgana.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier2"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-2.png">
        <p>모르가나</p></a></li>
      <li><a href="https://www.op.gg/champion/pyke/statistics/support/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/pyke.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier2"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-2.png">
        <p>파이크</p></a></li>
      <li><a href="https://www.op.gg/champion/alistar/statistics/support/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/alistar.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier2"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-2.png">
        <p>알리스타</p></a></li>
      <li><a href="https://www.op.gg/champion/yuumi/statistics/support/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/yuumi.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier2"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-2.png">
        <p>유미</p></a></li>

      <li><a href="https://www.op.gg/champion/rell/statistics/support/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/rell.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier3"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-3.png">
        <p>렐</p></a></li>
      <li><a href="https://www.op.gg/champion/zyra/statistics/support/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/zyra.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier3"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-3.png">
        <p>자이라</p></a></li>
      <li><a href="https://www.op.gg/champion/braum/statistics/support/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/braum.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier3"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-3.png">
        <p>브라움</p></a></li>
      <li><a href="https://www.op.gg/champion/bard/statistics/support/build" target="_blank"><img src="https://opgg-static.akamaized.net/images/lol/champion/bard.png?image=c_scale,q_auto,w_140&v=1626880099" class="tier3"><img src="https://opgg-static.akamaized.net/images/site/champion/icon-champtier-3.png">
        <p>바드</p></a></li>
    </ul>
  </div>
  <script>
    const searchBtn = document.querySelector(".searchBtn");
    searchBtn.addEventListener("click",()=>{
      alert("Comming soon");
    })
  </script>
</body>
</html>

