*{
  box-sizing: border-box;
}
body{
  background-color: #5383E3;
  min-width: 1500px;
}
.logo{
  text-align: center;
  margin-top:100px;
  margin-bottom:100px;
}
.position{
  width: 295px;
  height: 600px;
  display: inline-block;
}
.tier1{
  width:64px;
  margin-right: 10px;
  border:2px solid blue;
}
.tier2{
  width:64px;
  margin-right: 10px;
  border:2px solid green;
}
.tier3{
  width:64px;
  margin-right: 10px;
  border:2px solid yellow;
}
ul{
  list-style: none;
  padding: 10px 20px;
  border-radius:10px;
  border:2.5px solid white;
}
li{
  margin-bottom: 30px;
}
h2{
  display: inline;
  margin-left: 10px;
}
p{
  display: inline;
  margin-left: 10px;
  font-weight:bold;
  color:black;
}
a{
  text-decoration: none;
  color: black;
}
#searchUser{
  border-radius: 5px;
  display: inline-block;
  margin-top:30px;
  margin-left: 75%;
  border:none;
  width:270px;
  height:32px;
  color: #727272;
  
}
.searchBtn{
  color:#5383E3;
  height:32px;
  margin-left:0;
  background-color: white;
  font-size:15px;
  font-weight: 800;
  border:none;
  border-radius:5px;
  margin-top:30px;
}
.searchBtn:hover{
  box-shadow: 3px 3px 5px black;
}