* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171c3c;
}

.card {
    width: 200px;
    height: 300px;
    background-color: #ed4848;
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
}

.card:hover {
   box-shadow: inset 0 0 0 100px rgba(255,196, 0, 0.7);
}

.card i {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -54px;
    margin-top: -48px;
    color: white;
    transition: all 0.5s;
}

.card i:nth-of-type(1) {
    transform: scale(0);
}

.card:hover i:nth-of-type(1) {
    transform: scale(1);
}

.card:hover i:nth-of-type(2) {
    transform: scale(0);
}