*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    perspective: 1000px; /*원근감*/
}

.flip-btn{
    width: 200px;
    height: 100px;
    color: white;
    text-align: center;
    line-height: 100px; 
    /*height와 같으면 텍스트가 위아래 중앙에 위치. 단 1줄일때만*/
    transform-style: preserve-3d;
    transition: .5s; /*0.5초간 애니메이션*/
    cursor: pointer;

}
.flip-btn:hover{
    transform: rotateX(-90deg);
}
.front{
    background-color: goldenrod;
    height: 100px;
    transform: translateZ(50px);
}

.back{
    background-color: darkgoldenrod;
    height: 100px;
    transform: rotateX(90deg) translateZ(150px);
}